/* You can add global styles to this file, and also import other style files */
:root {
  --primary: #d83664;
  --darkprimary: #8d2140;
  --darkerprimary: #9b2345;
  --lightprimary: #db7390;

  --blue: #2575df;
  --dark-blue: #1e60b6;

  --white: #fff;
  --black: #333333;
  --grey: #555555;
}

.btn,
input {
  height: fit-content;
}

input {
  padding-bottom: 5px !important;
}

/*PRIMARY COLORS*/
.bg-primary {
  background-color: var(--primary) !important;
}
.text-primary {
  color: var(--primary) !important;
}
.btn-primary {
  color: var(--white) !important;
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
}

.btn-primary:hover {
  color: var(--white) !important;
  background-color: var(--darkprimary) !important;
  border-color: var(--darkprimary) !important;
}

.btn-primary.active {
  color: var(--white) !important;
  background-color: var(--darkerprimary) !important;
  border-color: var(--darkprimary) !important;
}

/*SECONDARY COLORS */

.btn-secondary {
  color: var(--white) !important;
  background-color: var(--lightprimary) !important;
  border-color: var(--lightprimary) !important;
}

.btn-secondary:hover {
  color: var(--white) !important;
  background-color: var(--darkerprimary) !important;
  border-color: var(--darkerprimary) !important;
}

/*BLUE COLORS */
.text-blue {
  color: var(--blue) !important;
}

.btn-blue {
  color: var(--white) !important;
  background-color: var(--blue) !important;
  border-color: var(--blue) !important;
}

.btn-blue:hover {
  color: var(--white) !important;
  background-color: var(--dark-blue) !important;
  border-color: var(--dark-blue) !important;
}

/*ALERT INFO*/
.alert-info {
  background: #378a8a linear-gradient(180deg, #919999, #c3cccc) repeat-x;
  padding-bottom: 2px !important;
  color: var(--black);
}

/*PAGINATION*/
.my-pagination .page-item.active .page-link {
  z-index: 1;
  color: var(--white);
  background-color: var(--primary) !important;
  border-color: var(--darkprimary);
}

.my-pagination .page-item .page-link {
  z-index: 1;
  color: var(--primary);
}

.my-pagination .page-item.disabled .page-link {
  z-index: 1;
  color: var(--grey) !important;
}

/*PANEL TABS*/
.tab-panel {
  border: 1px solid var(--white);
  padding: 10px;
  border-radius: 4px;
}

.tab-content {
  margin-top: 30px !important;
  background-color: inherit !important;
}

.nav-tabs > li.open,
.member-tabset > .nav-tabs > li:hover {
  border-bottom: 4px solid var(--primary);
}

.member-tabset > .nav-tabs .nav-link.active:hover,
.nav-tabs .nav-link.active:focus:hover {
  color: var(--black);
  box-shadow: none !important;
}

.member-tabset > .nav-tabs > li.open > a,
.member-tabset > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: var(--black) !important;
  box-shadow: none !important;
}

.member-tabset > .nav-tabs > li.open > a > i,
.member-tabset > .nav-tabs > li:hover > a > i {
  color: var(--white);
}

.member-tabset > .nav-tabs > li.open .dropdown-menu,
.member-tabset > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

.member-tabset > .nav-tabs > li.active {
  border-bottom: 4px solid var(--primary);
  position: relative;
  color: var(--primary);
  font-weight: bolder;
}

.member-tabset > .nav-tabs > li.active > a,
.member-tabset > .nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:focus > a,
.member-tabset > .nav-tabs .nav-link > a:hover {
  border: 0 !important;
  color: var(--black);
  box-shadow: none !important;
}

.member-tabset > .nav-tabs > li.active > a > i {
  color: var(--black);
}

.member-tabset > .tab-content {
  margin-top: -3px;
  background-color: var(--white);
  border: 0;
  border-top: 1px solid var(--white);
  padding: 15px 0;
}

/*DATEPICKER CSS*/
.bs-datepicker-body table td.week span {
  color: var(--primary) !important;
}

.bs-datepicker-body table td span.selected,
.bs-datepicker-head,
.bs-datepicker-head,
.bs-datepicker button:active,
.bs-datepicker-body table td.selected span,
.bs-datepicker-body table td span[class*="select-"]:after,
.bs-datepicker-body table td[class*="select-"] span:after,
.bs-datepicker-body table td.active-week span:hover {
  background-color: var(--primary) !important;
}
