/* You can add global styles to this file, and also import other style files */ 

.btn, input {
    height: fit-content;
}

input{
    padding-bottom: 5px !important;
}

.bg-primary {
    background-color: #d83664 !important;
  }
.text-primary {
    color: #d83664 !important;
}
.text-blue {
  color: #2575df !important;
}

  .btn-primary {
    color: #fff !important;
    background-color: #d83664 !important;
    border-color: #d83664 !important;
  }

  .btn-blue {
    color: #fff !important;
    background-color: #2575df !important;
    border-color: #2575df !important;
  }

  .btn-blue:hover {
    color: #fff !important;
    background-color: #1e60b6 !important;
    border-color: #1e60b6 !important;
  }

  .btn-secondary {
    color: #fff !important;
    background-color: #d5a8b5 !important;
    border-color: #d5a8b5 !important;
  }

  .btn-secondary:hover {
    color: #fff !important;
    background-color: #b07081 !important;
    border-color: #b07081 !important;
  }

  .btn-primary:hover {
    color: #fff !important;
    background-color: #bf1041 !important;
    border-color: #bf1041 !important;
  }

  .alert-info{
    background: #378a8a linear-gradient(180deg, #919999, #c3cccc) repeat-x;
    padding-bottom: 2px !important;
    color: #333333;
  }


  .tab-panel {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
  }

  .tab-content {
    margin-top: 30px !important;
    background-color: inherit !important;
  }
  
  .nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
    border-bottom: 4px solid #d83664;
  }

  .member-tabset > .nav-tabs .nav-link.active:hover, .nav-tabs .nav-link.active:focus:hover {
    color: #333333;
    box-shadow: none !important;
  }
  
  .member-tabset > .nav-tabs > li.open > a, .member-tabset > .nav-tabs > li:hover > a {
    border: 0;
    background: none !important;
    color: #333333 !important;
    box-shadow: none !important;
  }
  
  .member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
    color: #a6a6a6;
  }
  
  .member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }
  
  .member-tabset > .nav-tabs > li.active {
    border-bottom: 4px solid #d83664;
    position: relative;
    color: #d83664;
    font-weight: bolder;
  }
  
  .member-tabset > .nav-tabs > li.active > a {
    border: 0 !important;
    color: #333333;
    box-shadow: none !important;
  }

  .member-tabset >.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus > a {
    border: 0 !important;
    color: #333333;
    box-shadow: none !important;
  }

  .member-tabset > .nav-tabs .nav-link > a:hover {
    border: 0 !important;
    color: #333333;
    box-shadow: none !important;
  }
  
  .member-tabset > .nav-tabs > li.active > a > i {
    color: #404040;
  }
  
  .member-tabset > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #eee;
    padding: 15px 0;
  }

