<div class="mb-4 d-flex">
  <div class="btn-group" name="container">
    <button
      class="btn btn-primary"
      btnRadio="Unread"
      [(ngModel)]="container"
      (click)="loadMessages()"
    >
      <i class="fa fa-envelope"></i> Unread
    </button>
    <button
      class="btn btn-primary"
      btnRadio="Inbox"
      [(ngModel)]="container"
      (click)="loadMessages()"
    >
      <i class="fa fa-envelope-open"></i> Inbox
    </button>
    <button
      class="btn btn-primary"
      btnRadio="Outbox"
      [(ngModel)]="container"
      (click)="loadMessages()"
    >
      <i class="fa fa-paper-plane"></i> Outbox
    </button>
  </div>
</div>
<div class="row" *ngIf="!messages || messages.length === 0">
  <img
    src="./assets/messages.svg"
    alt="no messages"
    width="400px"
    height="400px"
    style="margin-top: 150px"
  />
  <h4 class="text-center mt-5">No {{ container | lowercase }} messages yet!</h4>
</div>
<div class="row" *ngIf="messages && messages.length > 0">
  <table class="table table-hover" style="cursor: pointer">
    <thead>
      <tr>
        <th style="width: 40%">Message</th>
        <th style="width: 20%">From / To</th>
        <th style="width: 20%">Sent / Received</th>
        <th style="width: 20%"></th>
      </tr>
    </thead>
    <tbody class="align-middle">
      <tr
        *ngFor="let message of messages"
        routerLink="{{
          container === 'Outbox'
            ? '/members/' + message.recipientUsername
            : '/members/' + message.senderUsername
        }}"
        [hidden]="loading"
        [queryParams]="{ tab: 'Messages' }"
      >
        <td>{{ message.content }}</td>
        <td>
          <div *ngIf="container === 'Outbox'">
            <img
              src="{{ message.recipientPhotoUrl || './assets/user.png' }}"
              alt="recipient photo"
              class="img-circle rounded-circle me-2"
            />
            <strong>{{ message.recipientUsername | titlecase }}</strong>
          </div>
          <div *ngIf="container === 'Inbox'">
            <img
              src="{{ message.senderPhotoUrl || './assets/user.png' }}"
              alt="sender photo"
              class="img-circle rounded-circle me-2"
            />
            <strong>{{ message.senderUsername | titlecase }}</strong>
          </div>
        </td>
        <td>{{ message.messageSent | timeago }}</td>
        <td>
          <swal
            #deleteSwal
            title="Delete message?"
            text="This cannot be undone. Other user still can read the message."
            icon="error"
            [showConfirmButton]="true"
            confirmButtonText="Delete the message"
            confirmButtonColor="red"
            [showCancelButton]="true"
            [focusCancel]="true"
            (confirm)="deleteMessage(message.id)"
          >
          </swal>
          <button
            [swal]="deleteSwal"
            class="btn btn-danger"
            (click)="($event.stopPropagation)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--pagination-->
<div
  class="d-flex justify-content-center"
  *ngIf="!loading && pagination && messages && messages.length > 0"
>
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [maxSize]="10"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    class="my-pagination"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
